@import './variable.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    display: grid;
    place-items: center;
}

#container {
    border: 1px solid red;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    height: 300px;

    padding: 20px;
}

#container > * {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 2fr;
}

