<style>
    @import '../css/variable.css';

    button {
        background-color: var(--button-background);
    }
</style>

<template id="template">
    <button id="minus">-</button>
    <input id="input" type="number" value="1">
    <button id="plus">+</button>
</template>

<script>
    function registerListener(container) {
        const minus = container.querySelector('#minus')
        const plus = container.querySelector('#plus')
        const input = container.querySelector('#input')
    
        minus.addEventListener('click', () => {
            input.value = parseInt(input.value) - 1
        })
    
        plus.addEventListener('click', () => {
            input.value = parseInt(input.value) + 1
        })
    }
</script>